<!DOCTYPE html>
<html>
<head>
	<title>register</title>
</head>
<body>
	<form action="<?php echo site_url('Register/register') ?>" name="register" method="post">
		Name: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		Sex:<input type="text" name="sex"><br>
		UserEmail: <input type="text" name="useremail"><br>
		Tel: <input type="text" name="tel"><br>
		Address: <input type="text" name="address"><br>
		Money: <input type="text" name="money">

		<input type="submit" name="submit" value="注册">
	</form>
</body>
</html>